<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1054432847918-34rdl3pepeqd5n343fll57gurl7s4aun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054432847918-34rdl3pepeqd5n343fll57gurl7s4aun</string>
	<key>API_KEY</key>
	<string>AIzaSyDppyh4V99R1aiMdPR6p-7elOf_QrRR_a4</string>
	<key>GCM_SENDER_ID</key>
	<string>1054432847918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sdfs.pokeradarclone-uncorrupted-</string>
	<key>PROJECT_ID</key>
	<string>pokeradarcloneuncorrupted</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeradarcloneuncorrupted.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054432847918:ios:3563a0b883c91b43</string>
	<key>DATABASE_URL</key>
	<string>https://pokeradarcloneuncorrupted.firebaseio.com</string>
</dict>
</plist>